<img id="magicImage" style="position:fixed;left:-1600px;width:800px;height:500px;top:-500px;z-index:-10000" src="about:blank" />
  <div id="colourTester">
    <div></div>
    <div></div>
    <div></div>
    <span id="colourStatus"></span>
  </div>

    <a href="#" class="bg-primary text-white collapse-item wcRescan">Restart scan</a>