  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> -->


  <!-- COLOUR EXCTRACTOR ASSETS -->
  <script src="/js/color-thief.umd.js"></script>


  <!-- COLOUR AVERAGER -->
  <script src="/js/fast-average-color.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <!-- COLOUR PICKER -->
  <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet"> -->



<!-- AMALIA.JS -->        
<script src="/js/amalia/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/amalia/bower_components/jquery-ui/jquery-ui.min.js"></script>        
<script src="/js/amalia/bower_components/raphael/raphael.js"></script>
<!-- style-player -->        
<link href="js/amalia/build/css/amalia.js.min.css" rel="stylesheet">
<!-- /style-player -->        
<!-- script-player -->        
<script src="/js/amalia/build/js/amalia.js.min.js"></script>
<script src="/js/amalia/build/js/amalia.js-plugin-timeline.min.js"></script>       
<script>
  <% if(typeof projectID!=='undefined'&&parseInt(projectID)>0) { %>
    projectID = <%=projectID%>;
  <% } else { %>
    projectID = '';
  <% } %>
</script>