<div class="nodal" id="liveModeModal" tabindex="-1" role="dialog" aria-labelledby="liveModeModalLabel" aria-hidden="true">
    <div class="nodal-dialog nodal-xl" role="document">
      <div class="nodal-content">
        <div class="nodal-header clearfix"> 
          <h5 class="nodal-title" id="exampleModalLabel">LIVE MODE</h5>
          <button class="closeLive" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="nodal-body">

          <form id="liveModeModal">

            <!-- <fieldset>
              <legend>System Status</legend>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Node.js Server</label>
                      <p>ONLINE</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Philips Hue</label>
                      <p>2 DEVICES ONLINE</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Media Devices</label>
                      <p>3 DEVICES ONLINE</p>
                    </div>
                  </div>
                </div>
                
             
            </fieldset>
            -->
            
           
            <fieldset>

              <legend>Cue Board</legend>
              <div id="cueboardContainer">
                
              </div>
                
             
            </fieldset>
             
           

          </form>


        </div>
        <div class="nodal-footer clearfix">
          <p>Atmosphere OS is now live! Most controls are disabled until you <a href="#" class="closeLive">exit live mode</a> again, but you can still mute and unmute individual channels on the timeline.</p><button class="btn closeLive btn-secondary" type="button" data-dismiss="modal">EXIT LIVE MODE</button>
        </div>
      </div>
    </div>
  </div>
