<h5 class="bind-actionID">No item selected</h5>
<h6 class="bind-group"></h6>

<div class="form-group">
    <label class="small">Duration</label>
    <div class="input-group input-group-sm" >
        <input type="text" name="duration" placeholder="" class="form-control" />
        <div class="input-group-append">
            <div class="input-group-text">sec</div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="small">Fade in</label>
    <div class="input-group input-group-sm" >
        <input type="text" name="fadeIn" placeholder="" class="bind bind-fadeIn bindItem form-control" />
        <div class="input-group-append">
            <div class="input-group-text">sec</div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="small">Fade out</label>
    <div class="input-group input-group-sm" >
        <input type="text" name="fadeIn" placeholder="" class="bind bind-fadeOut bindItem form-control" />
        <div class="input-group-append">
            <div class="input-group-text">sec</div>
        </div>
    </div>
</div>